<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="none">
    <meta name="expires" content="Fri, 31 Dec 9999 23:59:59 GMT">
    <title>D&D initiative tracker</title>

    <!-- CDN includes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="static/mm-foundation-tpls-0.8.0.min.js"></script>
  </head>

  <body data-ng-app="initiativeTracker" data-ng-controller="initiativeCtrl">
  <div class="wrapper">
    <div class="menu top row">
      <div class="button-wrapper small-2 column">
        <button type="button" data-ng-click="showCharacterForm()"><i class="fi-plus"></i></button>
      </div>
      <div class="button-wrapper small-4 column">
        <button type="button" data-ng-click="showAreaDamageForm()">Setup Area Damage</button>
      </div>
      <div class="button-wrapper small-4 column">
        <button type="button" data-ng-click="changeRollType()">{{ rollVariations[rollType]['name'] }}</button>
      </div>
      <div class="button-wrapper small-2 column">
        <button type="button" data-ng-click="roll(rollType);"><i class="fi-die-five"></i></button>
      </div>
    </div>

    <div class="scrollable">
      <table id="characters">
        <tr id="character-{{ character.id }}" data-ng-repeat="character in getCharacters() | orderBy: 'initiation_order'" data-ng-class="character.active ? 'active' : '';">
          <td>{{ character.displayName }}</td>
          <td><i class="fi-shield"></i>{{ character.defense }}</td>
          <td data-ng-click="modifyHealth(character.id);"><i class="fi-heart"></i>{{ character.health }}</td>
          <td data-ng-click="remove(character.id);"><i class="fi-x"></i></td>
        </tr>
      </table>
    </div>

    <div class="menu bottom row">
      <div id="counter" class="small-6 column" data-ng-click="counting = !counting"></div>
      <button id="next-button" type="button" data-ng-click="next()" class="small-6 column" data-ng-disabled="!enableNext">Next</button>
    </div>
  </div>

    <!-- Templates -->
    <script type="text/ng-template" id="addCharacterForm.html">
      <form name="characterForm" id="characterForm">
        <div class="message info">{{ message }}</div>
        <label>Name:</label> <input name="nameField" type="text" data-ng-model="character.name" ng-minlength="1" onFocus="this.select();" required autoFocus>
        Base initiation: <input type="number" data-ng-model="character.base_initiation" onClick="this.select();">
        Health: <input type="number" data-ng-model="character.health" onClick="this.select();">
        Defense: <input type="number" data-ng-model="character.defense" onClick="this.select();">
        <div class="label-wrapper" data-ng-click="character.npc = !character.npc">
          <input type="checkbox" data-ng-click="character.npc = !character.npc" data-ng-model="character.npc" checked="checked"><label>NPC?</label>
        </div>
        <div class="small-6 column">
         <button type="Submit" data-ng-click="add()">Add</button>
        </div>
        <div class="small-6 column">
          <button type="button" data-ng-click="done()">Done</button>
        </div>
      </form>
    </script>

    <script type="text/ng-template" id="setupAreaDamageForm.html">
      <form name="areaDamageForm" id="areaDamageForm">
        Health change (negative if healed):
        <input type="number" data-ng-model="areaDamage" onFocus="this.select();" autofocus>

        <div class="scrollable medium-height">
          <table id="charactersInAreaDamage">
            <tr data-ng-repeat="character in cloneCharacters">
              <td>{{ character.displayName }}</td>
              <td>
                <div class="label-wrapper" data-ng-click="toggleDamaged(character)">
                  <input type="checkbox" data-ng-click="toggleDamaged(character)" data-ng-model="character.damaged"><label>Damaged?</label>
                </div>
              </td>
              <td>
                <div class="label-wrapper" data-ng-click="toggleDamageHalved(character)" data-ng-disabled="!character.damaged">
                  <input type="checkbox" data-ng-disabled="!character.damaged" data-ng-click="toggleDamageHalved(character)" data-ng-model="character.damageHalved"><label>Halved Damage?</label>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="small-6 column medium-margin-top">
          <button type="button" data-ng-click="done(areaDamage)">Done</button>
        </div>
        <div class="small-6 column medium-margin-top">
          <button type="button" data-ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </script>

    <script type="text/ng-template" id="pickRollType.html">
      <div data-ng-repeat="(key, data) in variations">
        <div class="roll-type-variation">
          <button class="roll-type-button" type="button" data-ng-click="pick(key)">{{ data.name }}</button>
          <span>Hint: {{ data.hint }}</span>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="readInitiation.html">
      <form>
        {{ character.displayName }} rolled initiation:
        <input type="number" data-ng-model="character.rolled_initiation" onFocus="this.select();" autofocus>
        <button class="small-12 column" type="Submit" data-ng-click="done()">Done</button>
      </form>
    </script>

    <script type="text/ng-template" id="healthModification.html">
      <form>
        {{ character.displayName }} health change (negative if healed) (current: {{ character.health }}):
        <input type="number" data-ng-model="change" onFocus="this.select();" autofocus>
        <button class="small-12 column" type="Submit" data-ng-click="done(change)">Done</button>
      </form>
    </script>

    <!-- Custom includes -->
    <script src="static/character.js"></script>
    <script src="static/app.js"></script>
  </body>
</html>