.menu.top {
  display:inline;
}
.wrapper{
    max-width: 640px;
    margin: 0 auto;
}
button{
  width: 100%;
}

.active {
  background: gray !important;
}

#characters {
	width: 100%;
}

.button-wrapper {
	padding: 2px;
}