.menu.top {
	display:inline;
	height: 10vh;
	display: table;
	width: 100%;
}
.menu.top button{
	height: 10vh;
}
.wrapper{
	max-width: 640px;
	margin: 0 auto;
	height: 100vh;
}
button{
	width: 100%;
	min-height: 50px;
	margin: 0!important;
	padding:0;
}

.active {
	background: gray !important;
}

#characters {
	width: 100%;
}

.charactersInAreaDamage {
	width: 100%;
}

.charactersInAreaDamage th {
	background-color: #008CBA;
}

.charactersInAreaDamage .radioWithLabel {
	position: relative;
	top: 2px;
	right: 5px;
}

.button-wrapper {
	padding: 2px;
}

.scrollable{
	overflow-y: auto;
	height: 78vh;
	border: solid 1px #ddd;
}
.menu.bottom{
	height: 10vh!important;
	padding: 1px;
}
#next-button{
	height: 10vh;
	background-color:#008CBA!important;
}
table{
	margin-bottom:0;
	border:0;
}
i{
	display: block;
	font-size: 16px;
}
table tr td:first-child{
	text-align: left;
}
table tr td{
	text-align: center;
}
.reveal-modal{
	padding: 25px 20px!important;
}
#counter{
	height: 10vh;
	text-align: center;
	vertical-align: middle;
	display: table;
	padding: 12px;
}
table tr.active{
	background: #18647D!important;
}
table tr.active td{
	color: white;
}
.medium-height {
	height: 45vh;
}
.medium-margin-top {
	margin-top: 10px;
}